* {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
   font-size: 14px;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #7a7a9a;
}

#win-dialog {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   position: absolute;
   height: 25em;
   width: 40em;
   background: #7a7a9a;
   border: .2em solid rgba(255,255,255, .4);
   box-shadow: 0 0 1em 0 rgba(0,0,0,.8);
   border-radius: 1em;
   z-index: 10000;
   color: #000;
   opacity: 0;
   transform: translateY(-35%);
   animation: anim-win .8s linear 1 forwards;
}

@keyframes anim-win {
   from {
      opacity: 0;
   } to {
      transform: translateY(0%);
      opacity: 1;
   }
}

#win-dialog h2 {
   align-self: center;
   font-size: 6em;
}

#win-dialog p {
   display: block;
   margin-left: 1em;
   font-size: 4em;
}

#win-dialog p img {
   width: 4em;
   height: 3em;
}

#win-dialog #btn-restart {
   align-self: center;
   font-size: 2.5em;
   padding: .2em .6em;
   background: #7a7ac7cd;
   color: #fff;
   text-transform: uppercase;
   border: .2rem solid rgba(255,255,255, .4);
   border-radius: .5em;
   letter-spacing: .1rem;
   cursor: pointer;
   outline: none;
   box-shadow: 0 0 1em 0 rgba(0,0,0,.2);
}
   
#win-dialog #btn-restart:hover {
   background: #fff;
   color: #7a7ac7cd;
}

main {
   justify-self: center;
   display: flex;
   flex-flow: wrap column;
   gap: 2em;
   justify-content: space-between;
   position: relative;
   left: 8%;
   padding: 2em;
   background: rgba(255,255,255, .4);
   box-shadow: 0 0 1em 0 rgba(0,0,0,.2);
   border-radius: 5%;
   user-select: none;
}

main .panel-img {
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   grid-template-columns: repeat(4, 1fr);
   row-gap: .2em;
   column-gap: .5em;
   background: #7a7a9abb;
   padding: 1em;
   border-radius: 1em;
   box-shadow: 0 0 1em 0 rgba(0,0,0,.2);
}

main .panel-img img {
   height: 8em;
   width: 12em;
}

main footer {
   display: flex;
   justify-content: space-between;
}

main footer #timer-div {
   display: flex;
   align-items: center;
   gap: 6em;
   padding: .5em 5em .5em 2em;
   background: #7a7ac7cd;
   border: .3em solid #7a7a9abb;
   border-radius: 1rem;
   color: #fff;
   box-shadow: 0 0 1em 0 rgba(0,0,0,.2);
}

main footer .best-time,
main footer .timer {
   font-size: 2.5em;
}

main footer .timer {
   width: 4em;
}

main footer button {
   position: relative;
   font-size: 2.5em;
   padding: .2em .6em;
   background: #7a7ac7cd;
   color: #fff;
   text-transform: uppercase;
   border: .1em solid #7a7a9abb;
   border-radius: .5em;
   width: 5em;
   letter-spacing: .1rem;
   cursor: pointer;
   outline: none;
   box-shadow: 0 0 1em 0 rgba(0,0,0,.2);
}

main footer button:hover {
   background: #fff;
   color: #7a7ac7cd;
}

aside {
   margin: 5em 0;
   align-self: flex-start;
   position: relative;
   left: 9%;
   padding: 1em; 
   background: rgba(255,255,255, .4);
   border-radius: 1em;
}

aside figure {
   justify-self: center;
   height: 10em;
   width: 15em;
}

aside figure img {
   width: 100%;
   height: 100%;
}